/* You can add global styles to this file, and also import other style files */
.back-button {
	width: 82px;
	height: 30px;
	background-color: #c70039;
	font-size: 15px;
	color: white;
	border: none;
}